@model List<SporUyeTakipSistemi.Models.Uye>

<h2>Üye Listesi</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <tr style="background-color: #ddd;">
        <th>Ad Soyad</th>
        <th>TC Kimlik</th>
        <th>Kayıt Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Kalan Gün</th>
    </tr>

    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.Ad @uye.Soyad</td>
            <td>@uye.TCKimlik</td>
            <td>@uye.KayitTarihi.ToShortDateString()</td>
            <td>@uye.BitisTarihi.ToShortDateString()</td>
            <td>@uye.KalanGun</td>
        </tr>
    }
</table>
